<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- url -->
		<property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/hibernate-morning</property>

		<!-- username -->
		<property name="hibernate.connection.username">root</property>

		<!-- password -->
		<property name="hibernate.connection.password">root</property>

		<!-- mySql Driver -->

		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

		<!-- Show Query -->
		<property name="hibernate.show_sql">true</property>

		<property name="hibernate.coonection.pool_size">20</property>

		<property name="hibernate.format_sql">true</property>

	</session-factory>
</hibernate-configuration>